html,body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#app {
  padding:15px;
  height:100%;
  width:100%;
}

#tempo {
  border-radius: 10px;
  width: 100%;
  background-color: #555555;
  height:60%;
  margin-bottom: 15px;
  color: white;
}

#start {
  border-radius: 10px;
  width: 100%;
  background-color: #888888;
  height:calc(40% - 15px);
  color: red;
}

#clock {
  position: relative;
  top: 20%;
  margin: 0;
  width:100%;
  text-align: center;
  font-size: 48px;
}

#timer {
  position: relative;
  top: 55%;
  margin: 0;
  width:100%;
  text-align: center;
  font-size: 48px;
}

#startBtn {
  position: relative;
  top: 40%;
  margin: 0;
  width:100%;
  text-align: center;
  font-size: 48px;
}

.small {
  font-size: 15px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  /**/
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
