html,body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding:15px;
}

.no-mar {
  margin:0;
}

.no-pad {
  padding:0;
}

#row1 {
  height: 60%;
}

#row2 {
  height: 40%;
}

.card-panel {
  border-radius: 10px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  /**/
}
